aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asgiref
attrs
cachetools
certifi
charset-normalizer
cloudinary
colorama
dataclasses-json
Django
django-cloudinary-storage
django-cors-headers
djangorestframework
djangorestframework-simplejwt
drf-yasg
faiss-cpu
filetype
frozenlist
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
httpx-sse
idna
inflection
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
langsmith
marshmallow
multidict
mypy-extensions
numpy
orjson
packaging
pillow
propcache
proto-plus
protobuf
pyasn1
pyasn1_modules
pydantic
pydantic-settings
pydantic_core
PyJWT
pyparsing
PyPDF2
python-decouple
python-dotenv
pytz
PyYAML
requests
requests-toolbelt
rest-framework-simplejwt
rsa
setuptools
six
sniffio
SQLAlchemy
sqlparse
tenacity
tqdm
typing-inspect
typing_extensions
tzdata
uritemplate
urllib3
yarl
zstandard
gunicorn
