.backButton img{
    margin-left: 3vw;
    margin-right: 6vw;
    height: auto;
    margin-top: 30px;
}
.company-name{
    margin:32px 0px 10px 3vw;
    font-family: Poppins;
    font-weight: 600;
    font-size: 32px;
}
.company-location{
    margin:15px 0px 10px 3vw;
    font-family: Poppins;
    max-width: 540px;
    color: #8391A1;
}
.badges1{
    margin-left: 3vw;
    width: 150px;
    justify-content: center;
    margin-bottom: 24px;
    margin-top: 8px;
    height: 36px;
}
.badges{
    margin-left: 3vw;
    width: 150px;
    justify-content: center;
    margin-bottom: 24px;
    margin-top: 8px;
    height: 36px;
}
.job-descrip {
    font-family: Poppins;
    max-width: 1060px;
    color: #8391A1;
    margin-left: 3vw;
    box-shadow: 0px 4px 12px rgba(247, 248, 249, 0.5);
    background-color: #F7F8F9;
    border: 1px solid #E8ECF4;
    padding: 14px 24px 14px 24px;
    border-radius: 10px;
}
ul{
    list-style:circle;
    margin-left: 5px;
}
.poster-details{
    color: #8391A1;
    font-size: 20px;
    font-family: Poppins;
    margin-left: 3vw;
    padding: 24px;
}
.post-datetime{
    color: #8391A1;
    font-size: 20px;
    font-family: Poppins;
    margin-left: 2vw;
    padding: 24px;
}
.contactbutton{
    max-width: 24vw;
    padding: 24px;
    margin-left: auto;
    margin-right: 4vw;
}